@charset "UTF-8";
.player-board {
  color: white;
  background: url("img/playerboard-background-bottom.jpg");
  background-position: bottom;
  background-size: cover;
}
.player-board[data-player-color=d8d7d7]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #d8d7d7;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color=df74b2]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #df74b2;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color=eca51c]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #eca51c;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color="77bd25"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #77bd25;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color="30b0e1"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #30b0e1;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color=df3e33]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #df3e33;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board .player-name,
.player-board .player-name a {
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.player-board .player_score_value {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.player-board .token {
  background-image: url("img/tokens.png");
}
.player-board .token[data-player-color=d8d7d7] {
  background-position: 0% 50%;
}
.player-board .token[data-player-color=df74b2] {
  background-position: 20% 50%;
}
.player-board .token[data-player-color=eca51c] {
  background-position: 40% 50%;
}
.player-board .token[data-player-color="77bd25"] {
  background-position: 60% 50%;
}
.player-board .token[data-player-color="30b0e1"] {
  background-position: 80% 50%;
}
.player-board .token[data-player-color=df3e33] {
  background-position: 100% 50%;
}

@keyframes train-car-low-count-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
    color: red;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes train-car-low-count-after-animation {
  50% {
    box-shadow: 0 0 10px 10px red;
  }
}
.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-weight: bold;
}
.counters .counter {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counters .counter span {
  padding: 0 5px 0 5px;
}
.counters.additional-info {
  column-gap: 5px;
  justify-content: end;
}

.player-turn-order {
  user-select: none;
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.icon.destination-card {
  background-image: url("img/destination-card-background.jpg");
  height: 24px;
  width: 18px;
}
.icon.destination-card.shared-destination {
  -webkit-box-shadow: inset 0px 0px 0px 2px #7d57d5;
  -moz-box-shadow: inset 0px 0px 0px 2px #7d57d5;
  box-shadow: inset 0px 0px 0px 2px #7d57d5;
}
.icon.expTicket {
  height: 23px;
  width: 36px;
  background-size: contain;
  border-radius: 2px;
}

#map-zoom-wrapper {
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
}
#map-zoom-wrapper #map-zoom {
  max-width: 100%;
}
#map-zoom-wrapper #map-zoom.scrollable {
  overflow: auto;
}
#map-zoom-wrapper #zoom-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  cursor: pointer;
  background: url("img/zoom.png");
  background-position: 66.66% 50%;
}
#map-zoom-wrapper #zoom-button:hover {
  background-position: 100% 50%;
}
#map-zoom-wrapper #zoom-button:hover.zoomed {
  background-position: 33.33% 50%;
}
#map-zoom-wrapper #zoom-button.zoomed {
  background-position: 0% 50%;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
  display: none;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#resized {
  transform-origin: top center;
}

#main-line {
  display: flex;
}

#map-and-borders {
  position: relative;
}

#map-destination-highlight-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.2s;
}
#map-destination-highlight-shadow[data-visible=true] {
  opacity: 1;
}

#map-zoom {
  position: relative;
}

#map {
  position: relative;
  width: 1744px;
  height: 1321px;
  background: url("img/map.jpg");
  transform-origin: top left;
  box-shadow: 1px 1px 20px 3px black;
}

.city {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: -15px;
  pointer-events: none;
  transition: opacity 0.2s;
  position: relative;
  z-index: 1;
}
.city[data-to-connect=true] {
  z-index: 8;
  opacity: 1;
  background: radial-gradient(#61f155 30%, rgb(29, 114, 39)) border-box;
  border-radius: 50em;
}
.city[data-to-connect=true][data-selectable=false]:not([data-revealed-by]) {
  background: grey;
}
.city[data-to-connect=true]:not([data-selectable]):not([data-revealed-by]) {
  background: grey;
}
.city[data-selectable=true] {
  z-index: 8;
  opacity: 1;
  background: radial-gradient(#61f155 30%, rgb(29, 114, 39)) border-box;
  border-radius: 50em;
}
.city[data-selected=true] {
  z-index: 8;
  opacity: 1;
}
.city[data-highlight=true] {
  z-index: 8;
  -webkit-box-shadow: 0px 0px 1px 13px yellow;
  box-shadow: 0px 0px 1px 13px yellow;
  opacity: 1;
}
.city[data-revealed-by] {
  border-radius: 50px;
  box-sizing: border-box;
  background-image: url("img/tokens.png");
}
.city[data-revealed-by][data-revealed-by=d8d7d7] {
  background-position: 0% 50%;
}
.city[data-revealed-by][data-revealed-by=df74b2] {
  background-position: 20% 50%;
}
.city[data-revealed-by][data-revealed-by=eca51c] {
  background-position: 40% 50%;
}
.city[data-revealed-by][data-revealed-by="77bd25"] {
  background-position: 60% 50%;
}
.city[data-revealed-by][data-revealed-byr="30b0e1"] {
  background-position: 80% 50%;
}
.city[data-revealed-by][data-revealed-by=df3e33] {
  background-position: 100% 50%;
}
.city[data-revealed-by][data-revealed-by=shared] {
  background: radial-gradient(#7d57d5, #4a0adf, #4a0adf) border-box;
}

.route-space {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 16px;
}
.route-space.arrowSRB {
  background-image: url("img/arrowSRB.svg");
}
.route-space.arrowSRY {
  background-image: url("img/arrowSRY.svg");
}
.route-space.arrowSRR {
  background-image: url("img/arrowSRR.svg");
}
.route-space.arrowSNB {
  background-image: url("img/arrowSNB.svg");
}
.route-space.arrowSNY {
  background-image: url("img/arrowSNY.svg");
}
.route-space.arrowSNR {
  background-image: url("img/arrowSNR.svg");
}
.route-space.arrowMRB {
  background-image: url("img/arrowMRB.svg");
}
.route-space.arrowMRY {
  background-image: url("img/arrowMRY.svg");
}
.route-space.arrowMRR {
  background-image: url("img/arrowMRR.svg");
}
.route-space.arrowMNB {
  background-image: url("img/arrowMNB.svg");
}
.route-space.arrowMNY {
  background-image: url("img/arrowMNY.svg");
}
.route-space.arrowMNR {
  background-image: url("img/arrowMNR.svg");
}
.route-space.arrowLRB {
  background-image: url("img/arrowLRB.svg");
}
.route-space.arrowLRY {
  background-image: url("img/arrowLRY.svg");
}
.route-space.arrowLRR {
  background-image: url("img/arrowLRR.svg");
}
.route-space.arrowLNB {
  background-image: url("img/arrowLNB.svg");
}
.route-space.arrowLNY {
  background-image: url("img/arrowLNY.svg");
}
.route-space.arrowLNR {
  background-image: url("img/arrowLNR.svg");
}
.route-space.selectable {
  cursor: pointer;
}
.route-space.selectable::before {
  height: 19px;
  content: "";
  position: absolute;
  top: -7px;
  bottom: 0px;
  left: -1px;
  right: 13px;
  background: url("img/road-highlight.png") no-repeat;
  background-size: 300% 100%;
  animation: selectable-road-animation 1s alternate-reverse infinite ease-in-out;
}
.route-space.selectable[data-color="1"]::before {
  background-position: 0% 50%;
}
.route-space.selectable[data-color="2"]::before {
  background-position: 50% 50%;
}
.route-space.selectable[data-color="3"]::before {
  background-position: 100% 50%;
}
.route-space.forbidden::before {
  content: "";
  position: absolute;
  top: -13px;
  bottom: -13px;
  left: 0;
  right: 0;
  background: url("img/forbidden.png") no-repeat;
  background-position: center center;
}
.route-space.removable {
  pointer-events: auto;
  cursor: crosshair;
}

@keyframes selectable-road-animation {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.wagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 85px;
  margin-left: -7px;
  margin-top: -28px;
  background-size: 600%;
  pointer-events: none;
}
.wagon.angle0 {
  background-position: 0% 0%;
}
.wagon.angle1 {
  background-position: 20% 0%;
}
.wagon.angle2 {
  background-position: 40% 0%;
}
.wagon.angle3 {
  background-position: 60% 0%;
}
.wagon.angle4 {
  background-position: 80% 0%;
}
.wagon.angle5 {
  background-position: 100% 0%;
}
.wagon.angle6 {
  background-position: 0% 20%;
}
.wagon.angle7 {
  background-position: 20% 20%;
}
.wagon.angle8 {
  background-position: 40% 20%;
}
.wagon.angle9 {
  background-position: 60% 20%;
}
.wagon.angle10 {
  background-position: 80% 20%;
}
.wagon.angle11 {
  background-position: 100% 20%;
}
.wagon.angle12 {
  background-position: 0% 40%;
}
.wagon.angle13 {
  background-position: 20% 40%;
}
.wagon.angle14 {
  background-position: 40% 40%;
}
.wagon.angle15 {
  background-position: 60% 40%;
}
.wagon.angle16 {
  background-position: 80% 40%;
}
.wagon.angle17 {
  background-position: 100% 40%;
}
.wagon.angle18 {
  background-position: 0% 60%;
}
.wagon.angle19 {
  background-position: 20% 60%;
}
.wagon.angle20 {
  background-position: 40% 60%;
}
.wagon.angle21 {
  background-position: 60% 60%;
}
.wagon.angle22 {
  background-position: 80% 60%;
}
.wagon.angle23 {
  background-position: 100% 60%;
}
.wagon.angle24 {
  background-position: 0% 80%;
}
.wagon.angle25 {
  background-position: 20% 80%;
}
.wagon.angle26 {
  background-position: 40% 80%;
}
.wagon.angle27 {
  background-position: 60% 80%;
}
.wagon.angle28 {
  background-position: 80% 80%;
}
.wagon.angle29 {
  background-position: 100% 80%;
}
.wagon.angle30 {
  background-position: 0% 100%;
}
.wagon.angle31 {
  background-position: 20% 100%;
}
.wagon.angle32 {
  background-position: 40% 100%;
}
.wagon.angle33 {
  background-position: 60% 100%;
}
.wagon.angle34 {
  background-position: 80% 100%;
}
.wagon.angle35 {
  background-position: 100% 100%;
}
.wagon[data-player-color="3"] {
  background-image: url("img/wagons-red.png"), url("img/wagons-shadow.png");
}
.wagon[data-player-color="1"] {
  background-image: url("img/wagons-blue.png"), url("img/wagons-shadow.png");
}
.wagon[data-player-color="2"] {
  background-image: url("img/wagons-yellow.png"), url("img/wagons-shadow.png");
}
.wagon.phantom {
  opacity: 0.5;
}
.wagon.top {
  z-index: 1;
}
.wagon.top.highlight {
  z-index: 11;
}
.wagon.highlight {
  z-index: 11;
}

#map[data-big-shadows=true] .wagon[data-player-color="3"] {
  background-image: url("img/wagons-red.png"), url("img/wagons-shadow-big.png");
}
#map[data-big-shadows=true] .wagon[data-player-color="1"] {
  background-image: url("img/wagons-blue.png"), url("img/wagons-shadow-big.png");
}
#map[data-big-shadows=true] .wagon[data-player-color="2"] {
  background-image: url("img/wagons-yellow.png"), url("img/wagons-shadow-big.png");
}

#longest-path-animation {
  position: absolute;
  width: 120px;
  height: 120px;
  margin: -60px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  z-index: 21;
}

#map-drag-overlay {
  position: absolute;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  z-index: 20;
  /*.route-space {
     background: #FF000088;
   }*/
}
#map-drag-overlay #map-drag-target {
  position: absolute;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' id='root' version='1.1' viewBox='0 0 16 16'%3E%3Ccircle fill='none' stroke='currentColor' cx='8' cy='8' r='6'/%3E%3Cpath fill='none' stroke='currentColor' d='M 8 0 L 8 6.5'/%3E%3Cpath fill='none' stroke='currentColor' d='M 0 8 L 6.5 8'/%3E%3Cpath fill='none' stroke='currentColor' d='M 8 9.5 L 8 16'/%3E%3Cpath fill='none' stroke='currentColor' d='M 9.5 8 L 16 8'/%3E%3C/svg%3E");
  transition: left 0.05s, top 0.05s;
}

#train-car-deck {
  position: relative;
  width: 160px;
  display: flex;
  flex-direction: column;
  z-index: 7;
  align-items: center;
}
#train-car-deck .stock {
  position: relative;
  width: 272px;
  height: 166px;
}

.animated-destination-card {
  position: absolute;
  left: 0px;
  width: 200px;
  height: 209px;
  background-image: url("img/deck-destiLevel-10.png");
  border-radius: 6px;
  box-shadow: 0 0 8px 1px black;
  pointer-events: none;
  transform-origin: center center;
  transition: transform 0.5s;
}

#destination-deck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 100% 100%;
  z-index: 1;
}
#destination-deck.hidden {
  display: none;
}

#destination-stock {
  left: 10px;
}
#destination-stock .stockitem.selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/destination-selected.png");
  box-shadow: 0 0 3px 3px #d9ffff;
  border-radius: 6px;
}

.player-table-destinations {
  position: relative;
}
.player-table-destinations .player-table-destinations-column {
  height: 100%;
  pointer-events: none;
  z-index: 50;
  flex-direction: row;
}
.player-table-destinations .player-table-destinations-column.front {
  z-index: 51;
}
.player-table-destinations .player-table-destinations-column.done {
  left: 35px;
}
.player-table-destinations .player-table-destinations-column .destination-card.hidden-for-animation {
  visibility: hidden;
}

.left .player-table-destinations-column {
  --direction: column !important;
  width: 170px;
}
.left .player-table-destinations-column .destination-card:not(.icon):not(:first-child) {
  margin-top: -119px;
}

#map .destination-card:not(.icon) {
  position: absolute;
  z-index: 20;
}

.card-side {
  width: 150px;
  height: 209px;
}

.destination-card:not(.icon) {
  position: relative;
  width: 150px;
  height: 209px;
  background-image: url("img/destinations.jpg");
  border-radius: 6px;
  box-shadow: 0 0 8px 1px black;
  pointer-events: all;
  transform-origin: top left;
  margin-right: -15px;
}
.destination-card:not(.icon).animated {
  transition: transform 0.5s;
}
.destination-card:not(.icon).uncompleted::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/destination-todo.png");
}
.destination-card:not(.icon).completed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/destination-done.png");
  box-shadow: 0 0 3px 3px #3c6c6c;
}
.destination-card:not(.icon).selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/destination-selected.png");
  box-shadow: 0 0 3px 3px #4d78a3;
  border-radius: 6px;
}

.done .destination-card:not(.icon)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/destination-done.png");
}

.xpd-city {
  text-transform: uppercase;
  color: #4d78a3;
  font-weight: bold;
  margin-bottom: 5px;
}

.xpd-location {
  font-weight: bold;
  font-style: italic;
}

.player-table-train-cars {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.player-table-train-cars.new-card-animation {
  overflow: visible;
}
.player-table-train-cars.left {
  flex-direction: column;
}
.player-table-train-cars.left .train-car-group {
  margin: -40px 0;
  width: 260px;
  height: 170px;
}
.player-table-train-cars.left .train-car-group .train-car-group-counter {
  margin-top: unset;
  font-size: 450%;
}
.player-table-train-cars.left .train-car-group .train-car-cards {
  transform: unset;
}

@keyframes selected-card-animation {
  from {
    box-shadow: 0 0 5px 5px white;
  }
  to {
    box-shadow: 0 0 10px 10px white;
  }
}
.train-car-group {
  position: relative;
  left: 0px;
  width: 170px;
  height: 260px;
  margin: 0 -20px;
  transform-origin: top center;
  user-select: none;
}
.train-car-group[draggable=true] {
  cursor: pointer;
  touch-action: none;
}
.train-car-group.hide {
  display: none;
}
.train-car-group.selected .train-car-card {
  animation: selected-card-animation 1.5s 1 alternate ease-in-out;
  animation-iteration-count: infinite;
}
.train-car-group .train-car-group-counter {
  width: 100%;
  text-align: center;
  font-size: 600%;
  color: white;
  -webkit-text-stroke: 3px black;
  position: relative;
  z-index: 1;
  font-weight: bold;
  margin-top: 15px;
  pointer-events: none;
}
.train-car-group .train-car-cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 209px;
  pointer-events: none;
  transform-origin: center center;
  transform: rotate(90deg) translate(48px, 41px);
}
.train-car-group.drag {
  position: absolute;
  top: -1000px;
  left: -1000px;
  width: 190px;
  height: 280px;
  padding-top: 10px;
  zoom: 0.5;
}
.train-car-group.disabled {
  filter: contrast(0.6);
  cursor: not-allowed;
}

.player-table {
  display: flex;
  background: rgba(255, 255, 255, 0.5019607843);
  z-index: 25;
}
.player-table .player-table-train-cars {
  flex: 1;
}

#score {
  display: none;
  justify-content: center;
}
#score #table-wrapper {
  padding: 40px;
  background-size: 100% 100%;
}
#score #table-wrapper table tbody tr {
  border-top: 1px solid #459dbe;
}
#score #table-wrapper table td:not(:first-child), #score #table-wrapper table th:not(:first-child) {
  border-left: 1px solid #459dbe;
}
#score #table-wrapper table tr {
  height: 40px;
}
#score #table-wrapper table tr th {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 1px #054259, 0px 0px 2px #054259, 0px 0px 3px #054259;
  padding: 8px;
}
#score #table-wrapper table tr td {
  width: 100px;
  text-align: center;
}
#score #table-wrapper table tr td:not(:first-child) {
  font-size: 150%;
  color: white;
  text-shadow: 0px 0px 1px #054259, 0px 0px 2px #054259, 0px 0px 3px #054259;
}
#score #table-wrapper table tr td.player-name {
  color: #054259;
  width: 181px;
  font-weight: bold;
  text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white;
  word-break: break-all;
  text-overflow: ellipsis;
  font-size: 120%;
}
#score #table-wrapper table tr td.total {
  font-weight: bold;
}
@keyframes bonus-card-animation {
  0% {
    transform: scale(0.15);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.15);
  }
}
body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock.selectable .card:not(.disabled) {
  cursor: pointer;
}

.card-stock .card.selectable:not(.disabled) {
  cursor: pointer;
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

.line-stock.selectable .card:not(.selectable) {
  filter: contrast(0.6);
  cursor: not-allowed;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton,
  #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
html,
.mode_3d #game_play_area_background {
  background: linear-gradient(90deg, rgb(57, 124, 150) 0%, rgb(21, 104, 134) 100%) #b59958;
  background-repeat: no-repeat;
  background-size: 100%;
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #900;
  color: white;
  text-shadow: 0 0 1px #900, 0 0 5px #900, 0 0 6px #900, 0 0 7px #900;
}
#last-round .last-round-text {
  display: inline-block;
}
#last-round .last-round-text.animate {
  animation: last-round-animation 2s 1 forwards ease-in-out;
}

@keyframes last-round-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
.stockitem {
  border-radius: 6px;
}
.stockitem.disabled {
  filter: contrast(0.6);
  cursor: not-allowed;
}

#page-title .color-cards {
  display: inline-block;
}
#page-title .color-cards .icon.train-car-color:not(:first-child) {
  margin-left: -20px;
}
#page-title .icon.train-car-color {
  margin: -5px 0px;
}

.place-arrow-button.selected {
  background-color: #56a8d1;
}
.place-arrow-button.selected:hover {
  background-color: #4b94b9;
}

.remaining-arrows-count {
  font-size: 0.7em;
  margin-left: 2px;
}

/* Makes the svg arrow to change color */
.arrow {
  width: 36px;
  height: 17px;
  background-color: black;
  overflow: hidden;
  color: transparent;
  /* Store the SVG in a variable so it's easy to re-use */
  --svg: url('data:image/svg+xml,    <svg xmlns="http://www.w3.org/2000/svg" viewBox="10 0 20 9.379">        <path d="M22.838,0.798C22.75,1.672,23.986,3,23.986,3S12.338,3,11.781,3C9.91,3,9.988,4.326,10.006,4.521	C9.988,4.712,9.91,6,11.781,6c0.557,0,12.205,0,12.205,0s-1.236,1.85-1.148,2.725C23.059,10.938,29.924,7,29.996,5	C29.924,2,23.059-1.417,22.838,0.798z"/>    </svg>');
  /* Chrome, still requires prefix in 2022 */
  -webkit-mask: var(--svg);
  /* Firefox and Safari */
  mask: var(--svg);
}
.arrow.blue {
  background-color: blue;
}
.arrow.red {
  background-color: red;
}
.arrow.yellow {
  background-color: rgb(252, 252, 56);
}

.disabled .expTicket {
  filter: grayscale(1);
}

.expTicket {
  width: 50px;
  height: 29px;
  background: url("img/ticket.png") no-repeat;
  background-size: cover;
}

.css-icon {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(21, 104, 134);
}
.css-icon.xpd-help-icon {
  cursor: pointer;
  pointer-events: auto;
}

.help-card {
  width: 355px;
  height: 480px;
}
.help-card.recto {
  background: url("img/help1.jpg") no-repeat;
}
.help-card.verso {
  background: url("img/help2.jpg") no-repeat;
}

.dijitTooltipContents .destinations-flex {
  display: flex;
  gap: 5px;
}
.dijitTooltipContents .destinations-flex .destination-card {
  position: relative;
}

.preference_choice .row-data.row-data-large {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.preference_choice .row-data.row-data-large .row-label {
  white-space: normal;
}
.preference_choice .row-data.row-data-large .row-value {
  flex: 1;
  margin-left: unset;
  min-width: 200px;
}

html[data-color-blind=true] [data-color-blind-player-no]::after {
  font-size: 120%;
  display: flex;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
}
html[data-color-blind=true] .wagon::after {
  font-size: 200%;
}
html[data-color-blind=true] [data-color-blind-player-no="1"]::after {
  content: "●";
}
html[data-color-blind=true] [data-color-blind-player-no="2"]::after {
  content: "▲";
}
html[data-color-blind=true] [data-color-blind-player-no="3"]::after {
  content: "■";
}
html[data-color-blind=true] [data-color-blind-player-no="4"]::after {
  content: "◆";
}
html[data-color-blind=true] [data-color-blind-player-no="5"]::after {
  content: "⬟";
}
