@charset "UTF-8";
.player-board {
  color: white;
  background: url("img/playerboard-background-bottom.jpg");
  background-position: bottom;
  background-size: cover;
}
.player-board[data-player-color=d8d7d7]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #d8d7d7;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color=df74b2]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #df74b2;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color=eca51c]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #eca51c;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color="77bd25"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #77bd25;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color="30b0e1"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #30b0e1;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color=df3e33]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #df3e33;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board .player-name,
.player-board .player-name a {
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.player-board .player_score_value {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.player-board .token {
  background-image: url("img/tokens.png");
}
.player-board .token[data-player-color=d8d7d7] {
  background-position: 0% 50%;
}
.player-board .token[data-player-color=df74b2] {
  background-position: 20% 50%;
}
.player-board .token[data-player-color=eca51c] {
  background-position: 40% 50%;
}
.player-board .token[data-player-color="77bd25"] {
  background-position: 60% 50%;
}
.player-board .token[data-player-color="30b0e1"] {
  background-position: 80% 50%;
}
.player-board .token[data-player-color=df3e33] {
  background-position: 100% 50%;
}
.player-board .additional-icons {
  display: flex;
  gap: 5px;
}
.player-board .xpd-help-icon.xpd-help-icon-mini {
  position: relative;
  top: 50%;
  transform: translateY(-8%);
  width: 15px;
  height: 15px;
  font-size: 10pt;
  margin-left: 5px;
}

.help-card {
  width: 355px;
  height: 480px;
}
.help-card.recto {
  background: url("img/help1.jpg") no-repeat;
}
.help-card.verso {
  background: url("img/help2.jpg") no-repeat;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-weight: bold;
}
.counters .counter {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counters .counter span {
  padding: 0 5px 0 5px;
}
.counters .common-destinations-counter {
  flex: 0;
}

.additional-info {
  column-gap: 5px;
  justify-content: space-evenly;
}

.player-turn-order {
  user-select: none;
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.icon.destination-card {
  background-image: url("img/destination-card-background.jpg");
  height: 24px;
  width: 18px;
}
.icon.destination-card.shared-destination {
  -webkit-box-shadow: inset 0px 0px 0px 2px #9074d1;
  -moz-box-shadow: inset 0px 0px 0px 2px #9074d1;
  box-shadow: inset 0px 0px 0px 2px #9074d1;
}
.icon.expTicket {
  height: 23px;
  width: 36px;
  background-size: contain;
  border-radius: 2px;
}

#map-zoom-wrapper {
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
}
#map-zoom-wrapper #map-zoom {
  max-width: 100%;
}
#map-zoom-wrapper #map-zoom.scrollable {
  overflow: auto;
}
#map-zoom-wrapper #zoom-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  cursor: pointer;
  background: url("img/zoom.png");
  background-position: 66.66% 50%;
}
#map-zoom-wrapper #zoom-button:hover {
  background-position: 100% 50%;
}
#map-zoom-wrapper #zoom-button:hover.zoomed {
  background-position: 33.33% 50%;
}
#map-zoom-wrapper #zoom-button.zoomed {
  background-position: 0% 50%;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
  display: none;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#resized {
  transform-origin: top center;
}

#main-line {
  display: flex;
}

#map-and-borders {
  position: relative;
}

#map-destination-highlight-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.2s;
}
#map-destination-highlight-shadow[data-visible=true] {
  opacity: 1;
}

#map-zoom {
  position: relative;
}

#map {
  position: relative;
  width: 1744px;
  height: 1321px;
  background: url("img/map.jpg");
  transform-origin: top left;
  box-shadow: 1px 1px 20px 3px black;
}

.gamestate_revealDestination .city[data-selectable=true]:not([data-revealed-by]), .gamestate_revealDestination .city[data-selectable=true][data-revealed-by][data-temporary=true] {
  cursor: pointer;
}

.city {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: -15px;
  transition: opacity 0.2s;
  position: relative;
  z-index: 1;
}
.city[data-to-connect=true] {
  z-index: 8;
  opacity: 1;
  background: radial-gradient(#61f155 30%, rgb(29, 114, 39)) border-box;
  border-radius: 50em;
  width: 36px;
  height: 36px;
  margin: -18px;
}
.city[data-to-connect=true][data-selectable=false]:not([data-revealed-by]) {
  background: grey;
}
.city[data-to-connect=true]:not([data-selectable]):not([data-revealed-by]) {
  background: grey;
}
.city[data-selectable=true] {
  z-index: 8;
  opacity: 1;
  background: radial-gradient(#61f155 30%, rgb(29, 114, 39)) border-box;
  border-radius: 50em;
}
.city[data-selected=true] {
  z-index: 8;
  opacity: 1;
}
.city[data-highlight=true] {
  z-index: 8;
  -webkit-box-shadow: 0px 0px 1px 13px yellow;
  box-shadow: 0px 0px 1px 13px yellow;
  opacity: 1;
}
.city[data-revealed-by] {
  z-index: 8;
  opacity: 1;
  border-radius: 50px;
  box-sizing: border-box;
  background-image: url("img/tokens.png");
  width: 40px;
  height: 40px;
  margin: -20px;
  background-size: auto 100%;
}
.city[data-revealed-by][data-revealed-by=d8d7d7] {
  background-position: 0% 50%;
}
.city[data-revealed-by][data-revealed-by=df74b2] {
  background-position: 20% 50%;
}
.city[data-revealed-by][data-revealed-by=eca51c] {
  background-position: 40% 50%;
}
.city[data-revealed-by][data-revealed-by="77bd25"] {
  background-position: 60% 50%;
}
.city[data-revealed-by][data-revealed-by="30b0e1"] {
  background-position: 80% 50%;
}
.city[data-revealed-by][data-revealed-by=df3e33] {
  background-position: 100% 50%;
}
.city[data-revealed-by][data-revealed-by=shared] {
  background: radial-gradient(#9989c1, #7f56e1, #4d2b9d) border-box;
  width: 30px;
  height: 30px;
  margin: -15px;
}

@keyframes cityToReach {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  --route-space-default-background: url("img/road-highlight.png");
  --route-space-background: url("img/road-highlight.png");
  --route-space-default-background-size: 300% 100%;
  --route-space-background-size: 300% 100%;
}

.route-space {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 16px;
}
.route-space.arrowSRB {
  background-image: url("img/arrowSRB.svg");
}
.route-space.arrowSRY {
  background-image: url("img/arrowSRY.svg");
}
.route-space.arrowSRR {
  background-image: url("img/arrowSRR.svg");
}
.route-space.arrowSNB {
  background-image: url("img/arrowSNB.svg");
}
.route-space.arrowSNY {
  background-image: url("img/arrowSNY.svg");
}
.route-space.arrowSNR {
  background-image: url("img/arrowSNR.svg");
}
.route-space.arrowMRB {
  background-image: url("img/arrowMRB.svg");
}
.route-space.arrowMRY {
  background-image: url("img/arrowMRY.svg");
}
.route-space.arrowMRR {
  background-image: url("img/arrowMRR.svg");
}
.route-space.arrowMNB {
  background-image: url("img/arrowMNB.svg");
}
.route-space.arrowMNY {
  background-image: url("img/arrowMNY.svg");
}
.route-space.arrowMNR {
  background-image: url("img/arrowMNR.svg");
}
.route-space.arrowLRB {
  background-image: url("img/arrowLRB.svg");
}
.route-space.arrowLRY {
  background-image: url("img/arrowLRY.svg");
}
.route-space.arrowLRR {
  background-image: url("img/arrowLRR.svg");
}
.route-space.arrowLNB {
  background-image: url("img/arrowLNB.svg");
}
.route-space.arrowLNY {
  background-image: url("img/arrowLNY.svg");
}
.route-space.arrowLNR {
  background-image: url("img/arrowLNR.svg");
}
.route-space.selectable {
  cursor: pointer;
}
.route-space.selectable::before {
  height: 19px;
  content: "";
  position: absolute;
  top: -7px;
  bottom: 0px;
  left: -1px;
  right: 13px;
  background: var(--route-space-background) no-repeat;
  background-size: var(--route-space-background-size);
  animation: selectable-road-animation 1s alternate-reverse infinite ease-in-out;
}
.route-space.selectable[data-color="1"]::before {
  background-position: 0% 50%;
}
.route-space.selectable[data-color="2"]::before {
  background-position: 50% 50%;
}
.route-space.selectable[data-color="3"]::before {
  background-position: 100% 50%;
}
.route-space.selected::before {
  box-shadow: 0 0 7px 7px black;
}
.route-space.selected .remove-arrow-handle {
  animation: arrowAnimation 0.6s ease 0s infinite normal forwards;
}
.route-space.forbidden::before {
  content: "";
  position: absolute;
  top: -13px;
  bottom: -13px;
  left: 0;
  right: 0;
  background: url("img/forbidden.png") no-repeat;
  background-position: center center;
}
.route-space .remove-arrow-handle {
  width: 40px;
  height: 40px;
  background-size: 100%;
  transition: zoom 0.2s;
}
.route-space .remove-arrow-handle:hover {
  zoom: 1.2;
}
.route-space[data-color="1"] .remove-arrow-handle {
  background-image: url("img/crossBlue.svg");
}
.route-space[data-color="2"] .remove-arrow-handle {
  background-image: url("img/crossYellow.svg");
}
.route-space[data-color="3"] .remove-arrow-handle {
  background-image: url("img/crossRed.svg");
}

.animated-arrow {
  pointer-events: none;
}
.animated-arrow::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: inherit;
  animation: arrowAnimation 0.6s ease 0s 3 normal forwards;
  visibility: visible;
}

.xpd-hidden {
  visibility: hidden;
}

@keyframes arrowAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes selectable-road-animation {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
#train-car-deck {
  position: relative;
  width: 160px;
  display: flex;
  flex-direction: column;
  z-index: 7;
  align-items: center;
  margin-left: 12px;
}
#train-car-deck .stock {
  position: relative;
  width: 272px;
  height: 166px;
}
#train-car-deck .arrow-counters-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 8px;
  gap: 5px;
  font-size: large;
}

.animated-destination-card {
  position: absolute;
  left: 0px;
  width: 200px;
  height: 209px;
  background-image: url("img/deck-destiLevel-10.png");
  border-radius: 6px;
  box-shadow: 0 0 8px 1px black;
  pointer-events: none;
  transform-origin: center center;
  transition: transform 0.5s;
}

#destination-deck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 100% 100%;
  z-index: 1;
}
#destination-deck.hidden {
  display: none;
}

#destination-stock {
  left: 10px;
}
#destination-stock .stockitem.selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/destination-selected.png");
  box-shadow: 0 0 3px 3px #d9ffff;
  border-radius: 6px;
}

.player-table-destinations {
  position: relative;
}

.player-table-destinations-column {
  position: relative;
  pointer-events: none;
  z-index: 50;
  flex-direction: row;
  margin-top: 20px;
}
.player-table-destinations-column.front {
  z-index: 51;
}
.player-table-destinations-column .destination-card.hidden-for-animation {
  visibility: hidden;
}

.left .player-table-destinations-column.todo {
  margin-top: unset;
  --direction: column !important;
  width: 170px;
}
.left .player-table-destinations-column.todo .destination-card:not(.icon):not(:first-child) {
  margin-top: -118px;
}

#map .destination-card:not(.icon) {
  position: absolute;
  z-index: 20;
}

.card-side {
  width: 150px;
  height: 209px;
}

#shared-destination-deck .destination-card:not(.icon) {
  margin-right: 0px;
}

.destination-card:not(.icon) {
  position: relative;
  width: 150px;
  height: 209px;
  background-image: url("img/destinations.jpg");
  border-radius: 6px;
  box-shadow: 0 0 8px 1px black;
  pointer-events: all;
  transform-origin: top left;
  margin-right: -15px;
}
.destination-card:not(.icon).animated {
  transition: transform 0.5s;
}
.destination-card:not(.icon).uncompleted::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/destination-todo.png");
}
.destination-card:not(.icon).completed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/destination-done.png");
  box-shadow: 0 0 3px 3px #3c6c6c;
}
.destination-card:not(.icon).selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/destination-selected.png");
  box-shadow: 0 0 3px 3px #4d78a3;
  border-radius: 6px;
}

.done .destination-card:not(.icon)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/destination-done.png");
}

.xpd-city-zoom-wrapper {
  min-width: 270px;
  width: 270px;
}
.xpd-city-zoom-wrapper .xpd-city-zoom {
  width: 270px;
  height: 376.2px;
}
.xpd-city-zoom-wrapper .xpd-city-zoom-desc-wrapper {
  width: 238px;
  padding: 0px 16px;
}
.xpd-city-zoom-wrapper .xpd-city {
  text-transform: uppercase;
  color: #4d78a3;
  font-weight: bold;
  margin-bottom: 5px;
}
.xpd-city-zoom-wrapper .xpd-location {
  font-weight: bold;
  font-style: italic;
}
.xpd-city-zoom-wrapper .xpd-city-desc {
  text-align: justify;
}

.player-table-train-cars {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.player-table-train-cars.new-card-animation {
  overflow: visible;
}
.player-table-train-cars.left {
  flex-direction: column;
}

@keyframes selected-card-animation {
  from {
    box-shadow: 0 0 5px 5px white;
  }
  to {
    box-shadow: 0 0 10px 10px white;
  }
}
.player-table {
  display: flex;
  z-index: 25;
}
.player-table .player-table-train-cars {
  flex: 1;
}

#score {
  display: none;
  justify-content: center;
}
#score #table-wrapper {
  padding: 40px;
  background-size: 100% 100%;
}
#score #table-wrapper table tbody tr {
  border-top: 1px solid #459dbe;
}
#score #table-wrapper table td:not(:first-child), #score #table-wrapper table th:not(:first-child) {
  border-left: 1px solid #459dbe;
}
#score #table-wrapper table tr {
  height: 40px;
}
#score #table-wrapper table tr th {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 1px #054259, 0px 0px 2px #054259, 0px 0px 3px #054259;
  padding: 8px;
}
#score #table-wrapper table tr td {
  width: 100px;
  text-align: center;
}
#score #table-wrapper table tr td:not(:first-child) {
  font-size: 150%;
  color: white;
  text-shadow: 0px 0px 1px #054259, 0px 0px 2px #054259, 0px 0px 3px #054259;
}
#score #table-wrapper table tr td.player-name {
  color: #054259;
  width: 181px;
  font-weight: bold;
  text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white;
  word-break: break-all;
  text-overflow: ellipsis;
  font-size: 120%;
}
#score #table-wrapper table tr td.total {
  font-weight: bold;
}
@keyframes bonus-card-animation {
  0% {
    transform: scale(0.15);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.15);
  }
}
body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock.selectable .card:not(.disabled) {
  cursor: pointer;
}

.card-stock .card.selectable:not(.disabled) {
  cursor: pointer;
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

.line-stock.selectable .card:not(.selectable) {
  filter: contrast(0.6);
  cursor: not-allowed;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton,
  #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
html,
.mode_3d #game_play_area_background {
  background: linear-gradient(90deg, rgb(57, 124, 150) 0%, rgb(21, 104, 134) 100%) rgb(21, 104, 134);
  background-repeat: no-repeat;
  background-size: 100%;
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #900;
  color: white;
  text-shadow: 0 0 1px #900, 0 0 5px #900, 0 0 6px #900, 0 0 7px #900;
}
#last-round .last-round-text {
  display: inline-block;
}
#last-round .last-round-text.animate {
  animation: last-round-animation 2s 1 forwards ease-in-out;
}

@keyframes last-round-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
.stockitem {
  border-radius: 6px;
  background-size: 1000%;
}
.stockitem.disabled {
  filter: contrast(0.6);
  cursor: not-allowed;
}

.css-icon {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  font-weight: bolder;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: rgb(21, 104, 134);
  cursor: pointer;
  pointer-events: auto;
}
.css-icon.card-info {
  width: 25px;
  height: 25px;
  position: relative;
  top: 10px;
  left: 10px;
  color: white;
  background-color: rgb(21, 104, 134);
}

.card .card-sides .card-side.front .card-info {
  pointer-events: all;
}

.place-arrow-button.selected {
  background-color: #56a8d1;
}
.place-arrow-button.selected:hover {
  background-color: #4b94b9;
}

.remaining-arrows-count {
  font-size: 0.7em;
  margin-left: 2px;
}

#logs .arrow {
  width: 21.6px;
  height: 10.2px;
}
#logs .arrow.yellow {
  background-color: #dfdf1a;
}
#logs .icon.expTicket {
  width: 30px;
  height: 17.4px;
  vertical-align: top;
}

/* Makes the svg arrow to change color */
.arrow {
  width: 36px;
  height: 17px;
  background-color: black;
  overflow: hidden;
  color: transparent;
  /* Store the SVG in a variable so it's easy to re-use */
  --svg: url('data:image/svg+xml,    <svg xmlns="http://www.w3.org/2000/svg" viewBox="10 0 20 9.379">        <path d="M22.838,0.798C22.75,1.672,23.986,3,23.986,3S12.338,3,11.781,3C9.91,3,9.988,4.326,10.006,4.521	C9.988,4.712,9.91,6,11.781,6c0.557,0,12.205,0,12.205,0s-1.236,1.85-1.148,2.725C23.059,10.938,29.924,7,29.996,5	C29.924,2,23.059-1.417,22.838,0.798z"/>    </svg>');
  /* Chrome, still requires prefix in 2022 */
  -webkit-mask: var(--svg);
  /* Firefox and Safari */
  mask: var(--svg);
}
.arrow.blue {
  background-color: blue;
}
.arrow.red {
  background-color: red;
}
.arrow.yellow {
  background-color: rgb(252, 252, 56);
}

.disabled .expTicket {
  filter: grayscale(1);
}

.expTicket {
  width: 50px;
  height: 29px;
  background: url("img/ticket.png") no-repeat;
  background-size: cover;
}

.animated-element {
  position: absolute;
  left: 0px;
  box-shadow: 0 0 8px 1px black;
  pointer-events: none;
  transform-origin: center center;
  animation: cityAnimation 2s ease 0s 1 normal forwards;
}

.replay {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  position: relative;
}
.replay:before {
  content: "↻";
  color: rgb(21, 104, 134);
  font-weight: bolder;
  font-size: 35px;
  position: absolute;
  top: 3px;
  left: 10%;
}

@keyframes cityAnimation {
  0% {
    opacity: 1;
    transform: scale(0.2);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.3);
  }
  70% {
    opacity: 0.4;
    transform: scale(1.3);
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
.dijitTooltipContents .destinations-flex {
  display: flex;
  gap: 5px;
}
.dijitTooltipContents .destinations-flex .destination-card {
  position: relative;
}

.preference_choice .row-data.row-data-large {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.preference_choice .row-data.row-data-large .row-label {
  white-space: normal;
}
.preference_choice .row-data.row-data-large .row-value {
  flex: 1;
  margin-left: unset;
  min-width: 200px;
}
