.player-table-train-cars {
    display: flex;
    justify-content: center;
    overflow: hidden;

    &.new-card-animation {
        overflow: visible;
    }

    &.left {
        //flex-direction: column-reverse;
        flex-direction: column;
    }
}

@keyframes selected-card-animation {
    from {
        box-shadow: 0 0 5px 5px white;
    }
    to { 
        box-shadow: 0 0 10px 10px white;
    }
}